@model List<MVC.HSS13.Blog.Models.RegisterModel>
@{
    ViewBag.Title = "Register";
}

@*Tüm RegisterModel alanları row form-group şeklinde tasarlanacak. Tüm bilgiler alınıp btnKaydet ile Uye/Register a post edilecek.*@
<h2>Register</h2>

