@model Blog.DAL.DataModel.Uye

@{
    ViewBag.Title = "UyeGiris";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Ajax.BeginForm("UyeGiris", "Uye", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divSonuc" }, new { id = "formGenel" }))
{
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right"><span>Email</span></div>
                <div class="col-lg-6"><input class="form-control" id="Email" name="Email" type="text" placeholder="email adresinizi giriniz" /></div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-2 text-right"><span>Şifre</span></div>
                <div class="col-lg-6"><input class="form-control" id="Sifre" name="Sifre" type="password" placeholder="şifrenizi giriniz" /></div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-6"><input class="btn btn-default" id="btnGiris" type="submit" value="Giriş" /></div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-2"></div>
                <div id="divSonuc" class="col-md-6 text-danger"></div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
}